gdb
\.config/yazi/flavors/
\.config/yazi/plugins/
TODO*
\.config/custom/launch.json
# \.config/nvim/lazy-lock.json
\.config/nvim/lua/local_additions.lua
\.virtualenvs
\.bashrc
\.config/nvim/\.undo
\.config/custom/
