# yazi.toml
[mgr]
show_hidden = true
show_symlink = true
linemode = 'mtime'
sort_by = "extension"
sort_dir_first = true

[preview]
wrap = "yes"

[opener]
edit = [ 
    { run = 'nvim "$0"', block = true, for = 'unix', desc = "nvim file" },
]

open = [
    { run = 'xdg-open "$0"', block = false, orphan = true, desc = "open with xdg-open", for = "linux" },
    { run = 'zathura "$0"', block = false, orphan = true, desc = "open pdf with zathura", for = "linux" },
    { run = 'evince "$0"', block = false, orphan = true, desc = "open pdf with evince", for = "linux" },
    { run = 'zen "$0"', block = false, orphan = true, desc ="open html in zen", for = "linux" },
]

[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"
